@import "../../node_modules/water.css/dist/light";
@import "../../node_modules/purecss/build/grids";

main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

.view--home h3,
.view--post h3
{
  margin-top: 0;
}

.view--home article
{
    margin-bottom: 20px;
}

.view--home article time,
.view--post article time
{
    position: relative;
    top: 3px;
    text-align: right;
}
